/* WILL SHOW UP REGARDLESS WHAT VIEW */

/* Logo */
.logo-size {
    width: 70px;
}

/* Navigation links */
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #7CFFC2;
}

/* Button on Home page */

.btn {
    background-color: #3D3D3D;
    color: white;
    font-weight: bold;
}

.btn:hover {
    color: #7CFFC2;
}

/* Button on Contact Me page */
.contact-btn {
    background-color: #3D3D3D;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 300px;
    border-radius: 4px;
}

.contact-btn:hover {
    color: #7CFFC2;
}

/* Body background */
body {
    background-color: white;
}

/* Welcome text on Home page */
#welcome-text {
    color: black;
    margin-top: 20px;
}

#welcome-text h1 {
    text-align: center;
    font-weight: bold;
    /*background-color: #7CFFC2;*/
}

#welcome-text h2 {
    text-align: center;
    /*background-color: #7CFFC2;*/
}

/* Large Profile on About Me page */
.large-profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* About page intro heading */
.intro-heading {
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    color: black;
    /*background-color: #7CFFC2;*/
}

/* About page gaming heading */
.gaming-heading {
    text-align: center;
    font-weight: bold;
    color: black;
    /*background-color: #7CFFC2;*/
}

/* About page digital art heading */
.digital-art-heading {
    text-align: center;
    font-weight: bold;
    color: black;
    /*background-color: #7CFFC2;*/
}

/* About page paragraph text */
.about-text {
    text-align: center;
    margin-bottom: 40px;
    color: black;
    font-size: large;
    font-weight: 500;
    /*background-color: #7CFFC2;*/
}

/* About page gaming text */
.gaming-text {
    text-align: center;
    margin-bottom: 40px;
    color: black;
    font-size: large;
    font-weight: 500;
    /*background-color: #7CFFC2;*/
}

/* About page digital art text */
.digital-art-text {
    text-align: center;
    margin-bottom: 100px;
    color: black;
    font-size: large;
    font-weight: 500;
    /*background-color: #7CFFC2;*/
}

/* Contact Me header */
.contact-header {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-left: 850px;
    color: #FF2D4A;
    background-color: #7CFFC2;
}

/* Gallery slideshow */
/*.mySlides {display:none;}

.w3-display-container {
    margin-left: 650px;
}*/

/* Gallery carousel */
#carouselExampleCaptions h5 {
    color: white;
    background-color: black;
}

#carouselExampleCaptions p {
    color: white;
    background-color: black;
}

#pdf-resume p {
    /*background-color: #7CFFC2;*/
}

/* Footer */
footer {
    background-color: #3D3D3D;
    padding: 20px 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* MOBILE VIEW */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav.navbar.navbar-expand-lg {
        background-color: #3D3D3D;
    }

    #hero-banner {
        background-image: url(../images/banner.jpg);
        height: 300px;
        padding: 60px 100px;
        background-position: center;
    }

    .btn {
        width: 100%;
        margin: 180px 0;
    }

    .large-profile {
        width: 212px;
        height: 192px;
    }

    /* About page text */
    .about-text {
        margin-bottom: 40px;
    }

    /* My Portfolio page pdf resume */
    #pdf-resume p{
        text-align: center;
        margin-top: -170px;
        margin-left: 130px;
        color: black;
        font-weight: 600;
        font-size: medium;
    }

    #pdf-resume .pdfLogo {
        margin-top: 50px;
        margin-left: 10px;
        margin-bottom: 20px;
        padding-bottom: 80px;
    }

    /* Gallery slideshow */
    .w3-display-container {
        margin-left: 150px;
    }

    /* Contact Me header */
    .contact-header {
        margin-left: 150px;
}

    /* Contact Me page button */
    .contact-btn {
        margin-bottom: 80px;
        margin-left: 180px;
    }

    .footer-content {
        width: 32%;
        display: inline-block;
        text-align: center;
        color: white;
        font-weight: bold;
    }
}

/* DESKTOP VIEW */

/* Extra large devices (large laptops and desktops, 1000px and up) */
@media only screen and (min-width: 601px) {
    nav.navbar.navbar-expand-lg {
        background-color: #3D3D3D;
    }

    /* Home page banner */
    #hero-banner {
        background-image: url(../images/banner.jpg);
        height: 400px;
        padding: 60px 100px;
    }

    /* Button on Home page */
    .btn {
        background-color: #3D3D3D;
        color: white;
        font-weight: bold;
        width: 7%;
        margin-top: 250px;
        margin-left: 1620px;
}

    /* About page large image */
    .large-profile {
        width: 424px;
        height: 384px;
    }

    /* My Portfolio page pdf resume */
    #pdf-resume p{
        text-align: center;
        margin-top: -70px;
        color: black;
        font-weight: 600;
        font-size: large;
        display:inline-block;
    }

    #pdf-resume .pdfLogo {
        margin-top: 50px;
        margin-bottom: 40px;
        margin-left: 610px;
        padding-bottom: 40px;
    }

    /* Gallery carousel */
    #carouselExampleCaptions {
        width: 50%;
        margin-left: 460px;
    }

    /* Contact form */
    .mb-3 {
        margin-left: 600px;
        margin-right: 600px;
    }

    /* Footer */
    .footer-content {
        width: 33%;
        display: inline-block;
        text-align: center;
        color: white;
        font-weight: bold;
    }
}